[2016-09-23 18:05] sjackman opened #1 "Updates"
Watch this issue for updates on ORCA.

[2017-05-18 17:27] tmozgach opened #2 "Fix broken formulae"
- [ ] igv
- [ ] igvtools
- [ ] kat

[2017-06-08 21:59] tmozgach opened #3 "Fix broken brew test"
- [ ] apache-spark
- [ ] bamm
- [ ] express
- [ ] igraph
- [ ] meme
- [ ] nanopolish
- [ ] nlopt
- [ ] rapsearch2
- [ ] sdsl-lite
- [ ] simulate-pcr

[2017-06-08 22:00] tmozgach opened #4 "BioBuilds vs ORCA (Missing software)"
- [ ] ARAGORN (there is at brew)
- [ ] bamkit
- [ ] Barracuda
- [ ] Bfast
- [ ] Bioconductor
- [ ] BreakDancer
- [ ] chimerascan
- [ ] conda
- [ ] conifer
- [ ] cutadapt
- [ ] EBSEQ (Bioconductor)
- [ ] GCTA
- [ ] GenomonFisher
- [ ] Graphviz (there is at brew)
- [ ] iSAAC
- [ ] LoFreq*
- [ ] mrsFAST
- [ ] NovelSeq
- [ ] Parasight
- [ ] Pindel
- [ ] PLINK-NG (there is at brew)
- [ ] Primer3 (there

[2017-06-08 23:35] sjackman commented on #4
The executable `tabix` is provided by `htslib` now.

[2017-06-09 01:08] tmozgach opened #5 "bamm: Enable multithreading to use std::thread: Operation not permitted"
[code]

[2017-06-09 05:40] sjackman commented on #5
Here's the upstream bug report: https://github.com/macroevolution/bamm/issues/132

[2017-06-13 17:38] sjackman opened #6 "Tag a stable release of ORCA"
+ [ ] Create an automated build for `bcgsc/orca`
+ [ ] Create an automated test using Docker Compose to run `brew test` for each installed formula and also `brew tests`
    + See https://docs.docker.com/docker-cloud/builds/automated-testing/
    + and for example https://github.com/Linuxbrew/brew/blob/master/docker.test.yml
+ [ ] Transfer the image from https://hub.docker.com/r/bcgsc/orca to `dock

[2017-06-15 23:17] tmozgach opened #7 "For future"
- [ ] biopicies (export variables automatically, example, vcftools {xxx: ,yyy:})
- [ ] zip (create formulae)

[2017-06-15 23:31] sjackman commented on #2
# Higher priority

+ delly
+ discovardenovo
+ gubbins
+ masurca
+ mira
+ mlr
+ pbsuite
+ plink2
+ poretools

# Middle priority

+ anvio
+ corset
+ ensembl-tools
+ garli
+ harvest-tools
+ quaff
+ quake
+ r8s
+ reapr
+ trans_proteomic_pipeline

# Lower priority

+ meraculous
+ ogdraw
+ populations
+ smrtanalysis
+ ucsc-genome-browser

# Remove if nothing depends on it

+ libdivsufsort
+ perl518
+ sw

[2017-06-19 23:46] tmozgach commented on #5
solved https://github.com/Homebrew/homebrew-science/pull/5832

[2017-06-21 00:02] sjackman commented on #5
Commented upstream at https://github.com/macroevolution/bamm/issues/132#issuecomment-309924950

[2017-06-21 00:02] #5 closed

[2017-07-24 07:32] sjackman opened #8 "Run dockerfilelint using TravisCI"
See for example https://github.com/Linuxbrew/docker/pull/15/files

[2017-07-24 16:45] sjackman opened #9 "Install cwltool"
Please install `cwltool` like so
[code]
See https://github.com/common-workflow-language/cwltool#install
Thanks!

[2017-07-25 13:21] sjackman opened #10 "Revise README.md"
- [x] Please remove `Removed packages` and instead link to https://bcgsc.github.io/orca/
- [x] Please move https://tmozgach.github.io/orca/ to https://bcgsc.github.io/orca/

[2017-07-25 18:52] tmozgach commented on #9
@sjackman Done!

[2017-07-28 14:46] sjackman opened #11 "Create a Brewfile for ORCA"
See https://github.com/Homebrew/homebrew-bundle

[2017-07-28 22:36] sjackman commented on #11
On second thought it's redundant with the Dockerfile and wouldn't serve much purpose. Closing.

[2017-07-28 22:36] #11 closed

[2017-07-28 22:37] sjackman opened #12 "Add TSV file of installed formula and their versions"
Please commit to this repo the TSV file used to generate https://tmozgach.github.io/orca/
Just the list of current version. The previous versions aren't needed.

[2017-07-28 22:38] sjackman opened #13 "Determine license"
+ [ ] `astral` https://github.com/smirarab/ASTRAL/issues/22
+ [x] `bioawk` Similar to MIT https://github.com/lh3/bioawk/blob/master/README.awk
+ [ ] `cerulean`
+ [ ] `fasttree`
+ [x] `fermi` https://github.com/lh3/fermi/issues/10
+ [ ] `fermi2`https://github.com/lh3/fermi2/issues/3
+ [ ] `fermikit` https://github.com/lh3/fermikit/issues/16
+ [x] `htsbox`
+ [x] `idba`
+ [ ] `kent-tools`
+ [x] `lsd`

[2017-07-28 23:52] sjackman commented on #9
Thanks, Tanya!

[2017-07-31 17:39] tmozgach commented on #13
@sjackman Done! Another formulae don't have a git page.

[2017-08-01 17:03] sjackman commented on #13
Thanks, Tanya!
Please open issues for
+ https://github.com/lh3/fermi2
+ https://github.com/lh3/fermikit
+ https://github.com/lh3/htsbox

[2017-08-01 17:06] sjackman commented on #12
Thanks! https://github.com/bcgsc/orca/blob/master/list_new_orca.tsv
- Please rename the file to `versions.tsv`
- Please remove the first row number column. That should be the default format if you write the TSV using `readr::write_tsv`.
- Please rename column `formula` to `Formula`
- Please rename column `latest` to `Version`

[2017-08-01 17:14] sjackman commented on #12
Please add a description and link in the README.md to this TSV file.

[2017-08-01 18:42] tmozgach commented on #13
@sjackman I cann't open issue for htsbox!

[2017-08-01 20:04] tmozgach commented on #12
@sjackman changed!

[2017-08-02 20:56] tmozgach opened #14 "Fix broken brew linkage --test"
- [ ] biointerchange
- [ ] jdk skip
- [ ] parsnp
- [ ] prokka
- [ ] blasr
- [ ] fwdpp
- [ ] lobstr
- [ ] openssl@1.1
- [ ] r skip

[2017-08-03 00:14] sjackman commented on #12
Thanks!

[2017-08-03 00:14] #12 closed

[2017-08-03 00:17] sjackman commented on #13
https://github.com/lh3/htsbox/blob/lite/README.md

The license of htslib is MIT. https://github.com/samtools/htslib/blob/develop/LICENSE

[2017-08-03 23:02] tmozgach opened #15 "Fix brew linkage --test openssl@1.1"
```brew linkage --test openssl@1.1```
shows the following
[code]
and

[code]

[2017-08-03 23:05] tmozgach commented on #15
@sjackman  Shaun, could you please take a look at it?

[2017-08-04 21:39] sjackman commented on #15
I've opened PR https://github.com/Linuxbrew/brew/pull/449 to resolve this issue.

[2017-08-08 23:50] sjackman opened #16 "Create a formula for singularity"
Please create a formula for Singularity and submit it to https://github.com/Linuxbrew/homebrew-extra
http://singularity.lbl.gov/quickstart
[code]

[2017-08-10 18:52] tmozgach commented on #16
https://github.com/singularityware/singularity/issues/853

[2017-08-10 22:44] tmozgach commented on #8
@sjackman Done!

[2017-08-11 00:00] tmozgach opened #17 "BioPerl: FAIL Installing Bio::Root::Version failed"
One month ago it worked.

on docker2, run `docker run -ti 24b21f10017c`
then
`cpanm -i Bio::Root::Version`

The following log:
[code]

[2017-08-11 00:01] tmozgach commented on #17
@sjackman could you please look at? 1 month ago it worked. May be it is really better to use structure of the following image? https://hub.docker.com/r/bioperl/bioperl-deps/~/dockerfile/

[2017-08-12 18:23] sjackman commented on #17
[code]

Looks like the first failed test is `t/LocalDB/Fasta.t:27`
[code]

Start an interactive container from the Docker image right before this failure, and confirm that you can reproduce the failure interactively.

Google the above error message, and see what you can find.

[2017-08-12 18:23] sjackman commented on #8
Thanks, Tanya!

[2017-08-12 18:23] #8 closed

[2017-08-14 17:59] tmozgach commented on #17
@sjackman That error was produced interactively. I didn't find anything in Google except that
[code]
http://bioperl.org/INSTALL.html

[2017-08-14 18:19] sjackman commented on #17
I wouldn't be very comfortable with force installing, since we don't yet know whether it affects the functionality of BioPerl. There should hopefully be a more detailed log giving a more informative error message. Perhaps the failure is related to this message:
[code]
Googling `"library build did not include support for cryptography"` (with quotes)
suggests that it may be a problem with `berkeley-

[2017-08-14 18:24] tmozgach opened #18 "Packages cannot be bottled cause they have either a Perl or Python package dependency"
- [ ] amos
- [ ] graphlan
- [ ] maker
- [ ] mlst
- [ ] prokka
- [ ] velvetoptimiser

[2017-08-14 18:34] sjackman commented on #18
That list is shorter than I thought it might be. That's a good thing. We can build bottles for these formulae if we remove their package dependencies and instead vendor those dependencies into the formulae. That's not a high priority item, but if you run out of things to do, I'll explain more.

[2017-08-15 17:08] sjackman commented on #6
@tmozgach Could you please review this checklist and tick off the complete items?
What blockers remain before releasing the next version of ORCA?

[2017-08-16 22:48] tmozgach opened #19 "discovardenovo"
[code]

[2017-08-16 22:53] sjackman commented on #19
Please report the output of…
[code]

[2017-08-16 22:59] tmozgach opened #20 "mira"
[code]

[2017-08-16 23:04] sjackman commented on #20
Please report the output of …
[code]

[2017-08-16 23:37] tmozgach opened #21 "poretools"
[code]

[2017-08-16 23:42] tmozgach opened #22 "Have to be fixed before 2017.08 release"
`brew install` fails:

- [ ] delly (https://github.com/Homebrew/homebrew-science/pull/5412)
- [ ] discovardenovo (https://github.com/bcgsc/orca/issues/19)
- [ ] gubbins (Homebrew/homebrew-science#5752)
- [ ] masurca  (Homebrew/homebrew-science#5772)
- [ ] mira (https://github.com/bcgsc/orca/issues/20)
- [ ] pbsuite (https://github.com/Homebrew/homebrew-science/pull/5685 + conflict, bedtools: becau

[2017-08-16 23:44] tmozgach commented on #22
@sjackman Could you look at these problems and navigate how to fix them. May be we have to get rid off some of them, for example `blasr`?

[2017-08-17 02:06] sjackman commented on #21
It's failing during `pip install h5py`.
Please report the output of…
[code]

[2017-08-17 02:06] sjackman commented on #22
Let's first try updating `blasr` to the most recent version, 4.0.0.

[2017-08-17 02:18] sjackman commented on #15
I've opened PR https://github.com/Linuxbrew/homebrew-core/pull/3857 to address this issue.

[2017-08-17 23:16] tmozgach commented on #19
@sjackman
[code]

[code]

[2017-08-17 23:26] sjackman commented on #19
[code]
https://gist.github.com/anonymous/05a2d84e9265b7da0e8ab31be12281d7#file-02-make-L336

[2017-08-17 23:28] sjackman commented on #19
This is a bit of a shot in the dark, but can you try…
[code]

[2017-08-17 23:44] tmozgach commented on #20
@sjackman
[code]
[code]

[2017-08-17 23:45] tmozgach commented on #20
@sjackman `brew gist-logs mira` shows
[code]
Should I set up it somehow?

[2017-08-17 23:58] sjackman commented on #20
Yeah. Go to https://github.com/settings/tokens/new?scopes=gist,public_repo&description=Homebrew
and then set the token as: `export HOMEBREW_GITHUB_API_TOKEN="your_new_token"`

[2017-08-18 00:19] tmozgach commented on #19
@sjackman didn't solve a problem

[2017-08-18 01:18] sjackman commented on #17
That's a `berkeley-db` error message:
https://github.com/berkeleydb/libdb/blob/master/src/env/env_method.c#L816

The `berkeley-db` bottle does not appear to have cryptography support.
I tried `brew install -s berkeley-db`
The problem is…
[code]
https://gist.github.com/anonymous/db85021ee01c0daff2849620709b3a8c#file-01-configure-L66

@tmozgach Can you see if adding `configure --with-cryptography` t

[2017-08-18 01:20] sjackman commented on #17
If it does, please open a PR against `berkeley-db` adding `--with-cryptography` and bump the `revision`.

[2017-08-18 01:30] sjackman commented on #19
We may have to drop `discovardenovo` if we're unable to find a fix.

[2017-08-18 01:31] sjackman opened #23 "Add unicycler"
I created a new formula for Unicycler. Please add it to the ORCA image.
https://github.com/Homebrew/homebrew-science/pull/6146

[2017-08-18 18:46] tmozgach commented on #20
@sjackman  https://gist.github.com/ae544f58ac1f1fa9fcc53c9608d2cc77

[2017-08-18 19:51] tmozgach commented on #21
@sjackman  here you are:
[code]
[code]
[code]

[2017-08-18 21:57] tmozgach commented on #23
@sjackman done!

[2017-08-18 21:57] #23 closed

[2017-08-18 21:57] #9 closed

[2017-08-18 21:58] #15 closed

[2017-08-19 00:37] tmozgach commented on #19
https://github.com/Homebrew/homebrew-science/issues/6147

[2017-08-21 04:41] sjackman commented on #23
Thanks, Tanya!

[2017-08-21 04:45] sjackman commented on #19
I did manage to compile discovardenovo once with GCC 4.9:
[code]
I can't unfortunately tell you what I did to get it to compile. =/

[2017-08-21 04:49] sjackman commented on #21
This time it failed while installing the vendored copy `scipy`. Try removing the vendored copies of `numpy` and `scipy` and using instead `depends_on "numpy"` and `depends_on "scipy"`.

[2017-08-21 04:52] sjackman commented on #20
[code]
https://gist.github.com/anonymous/ae544f58ac1f1fa9fcc53c9608d2cc77#file-02-make-L39

Can you please report this issue upstream to the developers of `mira` and report the version of MIRA, flex, bison, and GCC.

[2017-08-21 18:36] tmozgach commented on #21
@sjackman I got the following error again:
[code]

[2017-08-21 23:51] tmozgach commented on #17
Install `perl` from the source, install `Bio::Perl` => succeed
Install `perl` from the bottle, install `Bio::Perl` => failed
Install previous version `berkley-db`, Install `perl` from the bottle, install `Bio::Perl` => succeed

Rebuild bottle of `perl` fixes the problem.

[2017-08-21 23:51] #17 closed

[2017-08-21 23:52] tmozgach commented on #20
Wrote email to bach@chevreux.org <bach@chevreux.org>

[2017-08-22 03:26] sjackman commented on #21
I've run into that `h5py` issue before over at https://github.com/Homebrew/homebrew-science/pull/5065
Can you troubleshoot this issue? Does `pip install h5py` work interactively?

[2017-08-31 19:50] tmozgach opened #24 "gcc@4.8 fails."
[code]

[2017-08-31 19:51] tmozgach commented on #24
@sjackman could you please look at this issue, without gcc@4.8 I can't test my image.

[2017-08-31 22:59] sjackman commented on #24
I believe you were doing `brew test --cc=gcc-4.8`, yes? With the brew 1.3.0 release you should not need that hack any more. You can just use `brew test`.

[2017-09-01 19:28] tmozgach opened #25 "Formulae fail after updating boost, linuxbrew"
Install:

- [ ] sga

Test:

- [ ] circlator
- [ ] discovar
- [ ] express
- [ ] kat
- [ ] mapsembler2
- [ ] mummer
- [ ] poretools
- [ ] repeatmasker
- [ ] sdsl-lite

[2017-09-03 15:25] sjackman opened #26 "Table of GitHub metadata and analytics"
Hi, Tanya. Can you please prepare a table that lists…

+ [x] the number of GitHub watchers, stars, and forks for each formula in Homebrew/science that has a GitHub a repo https://github.com/Linuxbrew/brew/blob/master/Library/Homebrew/dev-cmd/audit.rb#L592-L604
+ [x] whether the formula is notable (forks ≥ 20 or watchers ≥ 20 or stars ≥ 50)
+ [x] the number of macOS installations in the last year h

[2017-09-05 23:06] tmozgach commented on #25
`matplotlib` is probably responsible for errors (poretools).

[2017-09-06 19:44] sjackman opened #27 "brew cite"
Create a `brew cite foo` command that returns an URL (or optionally Bibtex) for the requested tool and its dependencies.

# Usage

[code]

# Options

- `-b` or `--bib` return Bibtex entries rather than an URLs
- `-1` return only the requested formulae and not their dependencies

# Implementation

- The code and data lives in a GitHub repository `linuxbrew/homebrew-cite`.
- The data will be stored

[2017-09-06 21:42] sjackman opened #28 "Install for HackSeq image"
- [x] nano

- [x] vim

- [x] emacs

- [x] man-db

- [x] methpipe

- [x] less

- [x] bzip2

- [x] xz

- [x] graphviz

- [x] lrsim

- [x] makefile2graph

- [x] rstudio-server

[2017-09-08 21:23] #24 closed

[2017-09-08 21:27] tmozgach commented on #21
works in the empty container

[2017-09-08 21:28] #10 closed

[2017-09-08 21:28] #13 closed

[2017-09-11 18:12] tmozgach opened #29 "Run GUI apps in a container"
Example: igv
Dockerfile:
[code]
How do I run graphical programs remotely from a Linux server for **different OS**:
https://uisapp2.iu.edu/confluence-prd/pages/viewpage.action?pageId=280461906

[2017-09-11 18:16] tmozgach commented on #29
Steps:
*Open new terminal in Xquartz

ssh -AY docker02.bcgsc.ca

*The following block we should put in the file that runs during the authorization:
But now, I just type them in the command line:

SESSIONXAUTH=${XAUTHORITY:-$HOME/.Xauthority}
DOCKER_XAUTH=${SESSIONXAUTH}.docker
cp --preserve=all $SESSIONXAUTH $DOCKER_XAUTH
USER=$(id –un)

*Run the container:
 docker run -it -v /tmp/.X11-unix:/tmp/.

[2017-09-11 18:17] tmozgach commented on #29
@sjackman Could you please look at it and think about possible insecure situations if you are familiar with that topic?

[2017-09-11 20:59] sjackman commented on #29
Please enclose shell commands in triple back ticks.
See https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2017-09-11 21:00] sjackman commented on #29
Thanks for the instructions to reproduce the issue, Tanya.

[2017-09-14 21:35] tmozgach opened #30 "brew install ... doesn't work (Martin's class)"
**Temporary solution:**

First create this directory:
mkdir -p -m775 ~/.cache/Homebrew

Then create a .bashrc (dot bashrc) file in their home directory. To do this, you can copy the code between the dotted line. And paste into the terminal:
--------------

echo '# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Uncomment the following line if you don't

[2017-09-14 21:59] tmozgach opened #31 "Singularity: linubrew folder disappers with --writable flag"
**Problem:** usually a singularity container is read-only (brew install, apt-get don't work).
In order to edit a container, --writable flag is used. However,  the `brew` command disappeared (see a sample script below) because linuxbrew folder doesn't exist in the folder /home!

[code]
**Question:** could we adapt the singularity for our purpose because we need a function that edits a container !?

[2017-09-14 22:01] tmozgach commented on #31
@sjackman if you are planing to play with `Singularity`, the above major issue that we faced.

[2017-09-15 21:12] tmozgach commented on #29
For linux:
In the terminal:
[code]
Perform all above steps.

[2017-09-18 18:31] tmozgach commented on #29
How do I run graphical programs remotely from a Linux server?
https://uisapp2.iu.edu/confluence-prd/pages/viewpage.action?pageId=280461906

[2017-09-18 18:48] tmozgach commented on #29
**For Windows:**
Run `Xming`
Run `Putty`:
- Enter the server name in Host Name (docker02.bcgsc.ca)
- Make sure the Connection type is set to SSH
- Enable X11 forwarding (Connection > SSH > X11)

Log in using your normal IU username and passphrase

[2017-09-18 23:03] tmozgach commented on #26
List all formulae in homebrew-science tap:
[code]

[2017-09-19 22:42] tmozgach opened #32 "ORCA paper"
**Title:**?
**Format:** Application note (2 pages)
**Deadline:**?
**Journals:**

- [x] _Bioinformatics_ provides a forum for the exchange of information in the fields of computational molecular biology and post-genome bioinformatics, with **emphasis on the documentation of new algorithms and databases** that allows the progress of bioinformatics and biomedical research in a significant manner. (ht

[2017-09-19 23:02] sjackman commented on #32
I believe OUP Database is the journal that Steve suggested: https://academic.oup.com/database

[2017-09-19 23:43] tmozgach commented on #32
@sjackman  I have done a small summary of Bioinformatics journals and bolted the main ideas, feel free to add another journals and review my list!

[2017-09-19 23:53] sjackman commented on #32
For the literature review, you can compare ORCA to BioContainers http://biocontainers.pro
The Linuxbrew package manager can be compared to Bioconda https://bioconda.github.io
The Spack package manager also has a paper:
https://computation.llnl.gov/projects/spack-hpc-package-manager
http://ieeexplore.ieee.org/document/7832814/
https://doi.org/10.1145/2807591.2807623

[2017-09-20 03:19] sjackman commented on #32
Two more possible journals: [GigaScience](https://academic.oup.com/gigascience) and [eLife](https://elifesciences.org/)

[2017-09-20 19:55] sjackman commented on #26
Here's the record of installations for macOS:
https://raw.githubusercontent.com/Homebrew/homebrew.github.io/master/_data/install.json
It includes only the top-1000 most popular packages, including those in `Hombrew/core`, so it includes only 25 packages in `Homebrew/science`, only two of which are bioinformatics packages, `htslib` and `samtools`.

[2017-09-20 19:57] sjackman commented on #26
This particular file is not very useful for Homebrew/science. In any case, it can be converted to TSV like so:
[code]

[2017-09-22 20:31] tmozgach commented on #32
The paper about `biocontaines` can be good example and we can try to target the same journal:

https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btx192

[2017-09-25 17:53] tmozgach commented on #28
Please also brew install less if the command less is not already in the PATH.
And bzip2 and xz if they're not already in the PATH.

[2017-09-25 18:17] sjackman commented on #28
The above are all installed.
[code]

[2017-09-25 19:06] tmozgach commented on #28
https://github.com/hackseq/hackseq_2017/issues/33#issuecomment-331976549

[2017-09-26 23:45] tmozgach opened #33 "Migration the running containers"
Problem: how to migrate a running container from one worker to another worker.
**Flocker:?**
https://github.com/ClusterHQ/flocker

[2017-09-26 23:56] sjackman commented on #33
Note that the container does not have to be running. We can stop the container when the user logs out. It's possible, for example, to use `docker commit` to save the a stopped container to an image, transfer that image to a different host, and fire a new container up at the new host from the saved image. I'd like to know if there's a tool to automate that process. Does `flocker` do that?
See https

[2017-09-26 23:59] sjackman commented on #33
Ah, you can also use `docker export CONTAINER | ssh new_host docker import`

[2017-09-27 18:35] tmozgach commented on #32
Bioboxes: https://gigascience.biomedcentral.com/articles/10.1186/s13742-015-0087-0

[2017-09-27 20:10] sjackman commented on #32
I've create a GitHub repo for the paper https://github.com/sjackman/orca-paper

[2017-09-27 22:12] tmozgach commented on #33
@sjackman what is exact issue arises? Why do we need to migrate it? When a server crashes? Do we need that for HackSeq?

[2017-09-27 22:14] sjackman commented on #33
That's one possible use case, but not the one that I'm thinking of. The use case is when a user `ssh` to ORCA, being able to move their container to whichever machine is currently the least busy, to achieve better load balancing. Currently the container has to run on whichever machine they were using previously.

[2017-10-02 22:07] tmozgach commented on #33
@sjackman  Found the interesting feature of Docker:
https://medium.com/@tigranbs/container-is-live-ok-lets-move-it-1022abcb6250
We can try above method if the migration of the container is issue. =)

[2017-10-02 22:16] sjackman commented on #33
That's quite cool! Keep in mind though that we don't need to migrate a running container, only a stopped one. That should be much simpler, and should be possible using `docker export` and `docker import`.

[2017-10-02 22:27] tmozgach commented on #33
@sjackman,
[code]
So, we need to migrate manually the data too. So, above option may be easier.

[2017-10-02 22:35] sjackman commented on #33
The data volumes will be mounted on a network file system, so don't need to be migrated between machines.

[2017-10-04 19:36] tmozgach commented on #25
- [ ] discovar 4.9
- [ ] kat 4.9
- [ ] lrsim - perl, solved
- [ ] mapsembler2 4.9
- [ ] mummer not perl.
- [ ] poretools not perl
- [ ] repeatmasker not perl
- [ ] sdsl-lite 4.9

[2017-10-04 19:56] sjackman commented on #25
What's the error message?

[2017-10-04 19:57] sjackman commented on #25
That's the version of `perl` I believe. It doesn't like newer versions of Perl.

[2017-10-04 19:59] sjackman commented on #25
The error message is from `h5py`. See if you can get a more helpful and verbose error message from `brew gist-logs poretools`

[2017-10-06 19:58] tmozgach commented on #25
in the formulae `discovar` there is ``` fails_with :gcc => "5" do
    cause "error: reference to 'align' is ambiguous. See https://groups.google.com/a/broadinstitute.org/forum/?hl=en&fromgroups=#!topic/discovar-user-forum/zuqNcaRUetA"
end ```
So, fixing will be tricky?

[2017-10-06 20:53] sjackman commented on #25
`discovar` shouldn't need a fix. Is `brew test discovar` failing? What's the error message?

[2017-10-06 20:54] sjackman commented on #25
Oh, you mean `brew install discovar` is failing. In that case, add
[code]

[2017-10-06 20:55] sjackman commented on #25
No need to bump the revision for `discovar`. `brew install discovar` should use the bottle and should succeed. What command is failing, and what is the error message?

[2017-10-06 22:12] tmozgach opened #34 "Write Documentation"
How to set up Docker, Docker Swarm, create accounts etc.

[2017-10-06 22:14] tmozgach commented on #32
The target journals: Bioinformatics,  GigaScience  (Plan B =) )

[2017-10-06 22:27] tmozgach commented on #25
`discovar` fails a test. If I compile that with 4.9, it works, but in my image there is no 4.9 and you said that it should work with 5 otherwise it is a bug.

[2017-10-06 22:31] sjackman commented on #25
`brew install discovar` should use the precompiled bottle and succeed. `brew test discovar` should succeed with `gcc-5` (I think). Which command is failing, and what is the error message?

[2017-10-06 22:37] tmozgach commented on #25
linuxbrew@13b6730f2934:~$ brew test discovar
[code]

[2017-10-06 22:38] tmozgach commented on #25
linuxbrew@13b6730f2934:~$ which gcc
/home/linuxbrew/.linuxbrew/bin/gcc

[2017-10-06 22:41] sjackman commented on #25
Okay. Good to know. That's kind of a bug in `brew test`, sort of. It'd be tricky to fix though. If you add `gcc@4.9` to the ORCA image it should work.

[2017-10-06 22:47] tmozgach commented on #25
Just instaliing gcc@4.9 works!

[2017-10-06 22:56] tmozgach commented on #34
@sjackman do you have any templates, platforms, where and what exactly I should write down?

[2017-10-07 00:03] sjackman commented on #34
This is a bit different than a normal software package, but you can take a look these:
https://github.com/linuxbrew/brew
https://github.com/bcgsc/abyss
https://github.com/bcgsc/tigmint

[2017-10-07 01:12] sjackman opened #35 "Add jupyter to the ORCA image"
Here's my PR to bottle it.
https://github.com/Linuxbrew/homebrew-core/pull/4600

[2017-10-10 19:26] tmozgach commented on #32
Dugong: https://watermark.silverchair.com/btx554.pdf?token=AQECAHi208BE49Ooan9kkhW_Ercy7Dm3ZL_9Cf3qfKAc485ysgAAAi8wggIrBgkqhkiG9w0BBwagggIcMIICGAIBADCCAhEGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMpIRd-WJ0gsEvLU8yAgEQgIIB4osYlpU_zEhDGmZACecEPgXK9VgLUtCIfG39PHZLNKuM6uGmcrk8bKyBcK3-eB3A27IcLwJL9AXu4FQNYu7fNGUHoAQyTCvK9IRDyGrNkwlK3uxUw6nUdg6ZLSt2k9gXZwMY0zER3_rMcYJGwKuin9BN2NlzIuc3_tt5_51rYyzZCsjzUROiPWWSI

[2017-10-11 20:29] tmozgach commented on #26
[homebrew_science_stat.txt](https://github.com/bcgsc/orca/files/1377064/homebrew_science_stat.txt)

Change the extension txt to tsv

[2017-10-11 20:41] sjackman commented on #26
Thanks, Tanya!

[2017-10-11 22:09] sjackman opened #36 "Add hub to the ORCA image"
[code]

[2017-10-11 22:35] sjackman opened #37 "Correct message: ~/Software/bin"
Please change `~/Software/bin` to `/home/linuxbrew/.linuxbrew/bin`
https://github.com/bcgsc/orca/blob/master/scripts/orca#L21

[2017-10-11 22:37] sjackman opened #38 "Change bash to bash -l"
Running `bash` reads only `~/.bashrc`. Running `bash -l` also reads `~/.profile`.
Please change `/bin/bash` to `/bin/bash -l` here:
https://github.com/bcgsc/orca/blob/master/scripts/orca#L29
and here:
https://github.com/bcgsc/orca/blob/master/scripts/orca#L34

[2017-10-12 17:39] sjackman commented on #36
Never mind this request.

[2017-10-12 17:39] #36 closed

[2017-10-12 20:11] tmozgach commented on #35
@sjackman `brew install  jupyter` is not enough? I didn't understand why you had given me your PR?

[2017-10-12 20:47] sjackman commented on #35
There wasn't yet a bottle for `jupyter` when I opened this issue. It's bottled now. `brew install jupyter` is sufficient.

[2017-10-12 20:55] tmozgach commented on #35
added

[2017-10-12 20:55] #35 closed

[2017-10-12 21:36] tmozgach commented on #34
Outline:
Introduction:
         ORCA(features)
         Container, Docker
Docker installation (just provide links):
         Mac Ox
         Linux
         Windows
Orca installation:
         Pull image, provide the usage (example of Hackseq log in script)
         GUI (links to Xquarts etc.)
Support

[2017-10-12 21:38] tmozgach commented on #34
@sjackman could you look at the scratch plan? Anything else to add? Also I am wondering where should I write down this documentation?

[2017-10-12 21:45] sjackman commented on #34
You can create files in the `docs` folder of this repo.

[2017-10-13 18:54] tmozgach commented on #25
2017.10.12
Install:
- [ ] kent-tools

[2017-10-13 18:56] sjackman commented on #25
What's the error message?

[2017-10-13 18:57] tmozgach commented on #25
@sjackman

[code]

[2017-10-13 19:01] sjackman commented on #25
The disk is full.

[2017-10-16 19:12] #37 closed

[2017-10-16 19:13] #38 closed

[2017-10-16 19:13] sjackman commented on #37
Thanks, Tanya!

[2017-10-16 19:13] sjackman commented on #38
Thanks, Tanya!

[2017-10-16 20:29] tmozgach opened #39 "Hackseq scripts:"
@sjackman  could you please look at scripts:

This one for creation containers manually:

[code]

This one is log in:
https://github.com/bcgsc/orca/blob/master/scripts/orca.hackton

[2017-10-16 20:32] #39 closed

[2017-11-24 21:07] tmozgach commented on #34
Done!
https://github.com/bcgsc/orca/tree/master/docs

[2017-11-24 21:07] #34 closed

[2017-11-24 21:09] tmozgach commented on #32
Main workplace is here: https://github.com/sjackman/orca-paper

[2017-11-24 21:09] #32 closed

[2017-11-24 21:10] tmozgach commented on #29
Works!

[2017-11-24 21:10] #29 closed

[2017-11-24 21:12] #28 closed

[2017-11-28 02:14] tmozgach opened #43 "Singularity: appropriate workaround?"
@sjackman could you please look into my solution to that problem and tell me, could we do that?
Or may be you have a more elegant suggestion.

**Given**: an immutable  container with linuxbrew, only `nano` installed by brew
**What we would like to get:** install permanently for example, 'vim', inside the container.
My solution:
Dockerfile (tmozgacheva/orca-a):
[code]
[code]
**The problem:** We can

[2017-11-28 02:15] tmozgach commented on #43
@sjackman  =)

[2017-11-28 04:29] sjackman commented on #43
We shouldn't need to use `sudo` with Singularity. I'm hoping that the directory `/home/linuxbrew` and all its subdirectories can be owned by your own user and primary group, with permission `0775`.

[2017-11-30 08:00] tmozgach commented on #43
try tomorrow on docker
[code]

[2017-12-13 18:56] sjackman commented on #26
@tmozgach Do you have source code for the script that created this file `homebrew_science_stat.txt`?

[2017-12-13 19:17] tmozgach commented on #26
@sjackman I will post it here, because it is not related ORCA project.
[code]

[2017-12-13 19:49] sjackman commented on #27
We won't be implementing the `brew cite` command this term.

[2017-12-13 19:49] #27 closed

[2017-12-13 19:52] sjackman commented on #26
I'd like up-to-date GitHub data on forks, stars, and watchers. `samtools` doesn't have any GitHub information because neither its `homepage` nor `head` are GitHub urls, but its `url` is a GitHub URL. Please check all three, `homepage`, `url`, and `head`. Could you please rerun this analysis for each GitHub repo in Homebrew/science?

[2017-12-13 21:08] tmozgach commented on #26
You are right. My code doesn't deal with such cases. Only with `url` that has `.git` in the `url`.
[code]
I will work on that! =)

[2017-12-13 23:19] sjackman commented on #26
Thanks, Tanya.

[2017-12-28 22:39] tmozgach opened #44 "Singularity:Overview"
For Singularity version: `2.4.1`

Singularity Recipe:
https://github.com/bcgsc/orca/blob/master/Singularity.1

Build the image MANUALLY:
[code]

Each user should create an overlay:

[code]

Problem: During the building image MANUALLY the following error appears: `Cannot mkdir: No space left on device during building`
Explanation: `/tmp/` is full
Solution: Change cash and tmp directory using enviro

[2018-01-15 20:39] ckeeling commented on #44
I notice your singularity recipe says #PerlIO::gzip fails.  Have you found a solution for this?  This is required for maker, which I have been trying to set up as well, with the same error.

[2018-01-15 21:19] ckeeling commented on #44
Hi Shaun,

I'm actually trying to do this within a Singularity recipe, but I'm getting the gcc@4.9 failing before this, so I'm not there yet.  Have you had success getting maker set up?  I'm trying to do this on cedar.

[2018-01-15 22:28] sjackman commented on #44
Yes, I have MAKER installed at the GSC using Linuxbrew. Can you use `gcc` rather than `gcc@4.9`?

[2018-03-01 18:14] sjackman opened #47 "Fix failed tests"
- [x] perl: `Missing libraries: libgdbm.so.4` https://github.com/Linuxbrew/homebrew-core/pull/6328
- [x] beast: `BEAST requires Java version 8`
- [x] discovar: `discovar cannot be built with any available compilers`
- [x] gaemr: `Failed executing: GAEMR.py --help` https://github.com/brewsci/homebrew-science/pull/56
- [x] graphviz: `Error: fontconfig: Couldn't find font.`
- [x] icu4c: `gendict --uc

[2018-03-01 19:02] sjackman commented on #47
I cannot reproduce in Docker the test failures of…
- beast
- idba
- raxml
- ropebwt2

`discovar` failure is harmless.
`ruby` failure is known, with no known solution.

[2018-04-27 20:26] suujia opened #48 "Failed Tests"
- [x] augustus   Missing libraries: libboost_iostreams.so.1.66.0
Dependencies with no linkage: boost

- [x] mothur    Missing libraries: libboost_iostreams.so.1.66.0
Dependencies with no linkage: boost

- [x] squeakr    Missing libraries: libboost_system-mt.so.1.66.0, libboost_thread-mt.so.1.66.0
Dependencies with no linkage: boost

- [x] augustus
Error: augustus: failed

- [x] gaemr
Error: brewsc

[2018-04-28 14:30] sjackman commented on #48
The Docker Hub build log is at https://hub.docker.com/r/bcgsc/orca/builds/bdtzdechs9zvtybx4lwbvry/

[2018-04-28 14:55] sjackman commented on #48
`Missing libraries: libboost_iostreams.so.1.66.0`

These precompiled binary packages (called bottles in Brew) need to be rebuilt with the new version of `boost`.

`ImportError: No module named Bio`

It's not finding its dependency Biopython. I believe this ORCA image installs Biopython only for Python 3. It's possible that this tool uses Python 2, and so is not finding its Biopython dependency. Th

[2018-05-01 22:43] #47 closed

[2018-05-01 22:59] sjackman commented on #48
@suujia Can you please install `poretools` locally, replicate this error, and attempt to fix it?
I suspect the issue is that this formula was using Python 2 previously, and ought to be using Python 3 now, if possible. If Python 3 is not possible, use Python 2.
Change this line
[code]
to either for Python 3 (if possible)
[code]
or if that doesn't work for Python 2
[code]

[2018-05-01 23:07] sjackman commented on #48
@suujia The `augustus` bottle needs to be rebuilt, but only on Linux. It works on macOS.

[code]

To do that, open a PR against `Linuxbrew/homebrew-core` (not `Homebrew/homebrew-core`) and make the following change…
[code]
The easiest way to do that may be to use the GitHub web interface to edit the formula.
Browse to https://github.com/Linuxbrew/homebrew-core/blob/master/Formula/augustus.rb
then

[2018-05-02 23:40] suujia commented on #48
Notes:
- [ ] nonpareil: works locally, but fails on docker02. I did brew upgrade r (R version 3.5.0) then audit -strict and test ran perfectly. (brew install r  is located in orca-0), not sure what to change it to.
- [ ] poretools: migrating over to bio, changed to python3 and still doesn't work -- upgraded (numpy and hdf5 on docker02) (freetype on local) and got message <0> expected but was <1> f

[2018-05-03 17:37] sjackman commented on #48
google says to use sudo apt-get install python3.6-gdbm but I will look into it more

This line of the test is failing, which is likely a bug.
[code]
It's odd though, because the formula already has…
[code]
Try…
[code]

[2018-05-03 17:39] sjackman commented on #48
also warning: gcc was built with different C++ standard library (libstdc++ from clang)

The error message `execution expired` means that the test took longer than five minutes. How long does it take locally on your machine? I've seen this a few times, and if I haven't been able to reproduce it, I disable the test on ORCA, ignoring the failure.

[2018-06-15 16:52] sjackman commented on #33
Plan to migrate a stopped container
`docker export` serializes a stopped container. `docker import` imports a serialized container. As an experiment, can you try…
`docker run` to create a stopped container.
`docker export` to serialize it to disk.
`docker rm` to remove the stopped container.
Copy the serialized Docker container to another system.
`docker import` to import the serialized container.

[2018-06-15 18:09] suujia commented on #33
**Option 1** -- save and load
[code]

**Option 2** -- flocker (popular volume plugin)
[code]

**Option 3** -- export and import
[code]

**Option 4** -- commit as image and run
[code]

**Option 5** -- multi-host persistence (shared, distributed storage) & consistent namespace
[code]

[2018-06-15 18:13] sjackman commented on #48
GAEMR hasn't been updated since 2012. I'm thinking that we should refocus our ORCA efforts on actively maintained packages. Let's remove GAEMR from ORCA.

[2018-06-15 18:36] sjackman commented on #33
If Option 5 multi-host persistence works over NFS, that may be the simplest solution.
I'd like to know whether there's a tool to automate Option 3 export and import.
At first glance, it seems like the purpose of Flocker is to migrate volumes and may not be relevant to us, since we're using data volumes on NFS. Our containers on the hand are stored on a local file system.
Thanks for this research,

[2018-06-15 20:42] sjackman commented on #48
Let's remove Graphlan from ORCA.
See also PR https://github.com/brewsci/homebrew-bio/pull/311

[2018-06-19 21:39] suujia commented on #33
1. hmm there doesn't seem to be a tool specifically to import and export containers. Perhaps we can write a script that checks:

- whether less occupied server is same as container's server -- if not then move
- export works for running and stopped containers (can check status if we wanted)

2. If we took the multi-host persistence over NFS approach, we can revive a container with stored user data

[2018-06-21 23:42] sjackman commented on #48
[code]
This test is successful and takes only ~5 s on docker02. I'm not sure why it's expiring on `hub.docker.com`.

I've opened PR https://github.com/bcgsc/orca/pull/53 to disable this test.

[2018-06-21 23:50] sjackman commented on #48
I've opened PR https://github.com/Linuxbrew/homebrew-core/pull/8134 to fix the test failure of `python`.

[2018-06-22 21:09] sjackman commented on #48
That hopefully addresses all the failed tests from this batch! I'm closing this issue.

[2018-06-22 21:09] #48 closed

[2018-06-22 21:10] sjackman commented on #48
Thanks for your work on this issue, Susie! I'm trying a new build of ORCA on Docker Hub over at https://hub.docker.com/r/bcgsc/orca/builds/

[2018-07-05 22:26] suujia opened #56 "Build dockerfile with Quay"
https://quay.io/repository/suujia/orca/build/89d6336c-b862-4b64-864d-0f50086b7f42

I combined orca into one dockerfile and built it on Quay. Needs debugging.

[2018-07-05 22:34] suujia commented on #56
Build failed at `pip3 install htseq`

reproduced error on linuxbrew/linuxbrew docker image:
[code]

[2018-07-05 23:37] suujia opened #57 "Singularity build"
[shub:bcgsc/orca](https://www.singularity-hub.org/containers/1167/log)
[shub:suujia/orca](https://www.singularity-hub.org/containers/3402/log)

Not sure how to trigger a rebuild for the bcgsc/orca shub. The error message I got with a build on suujia/orca shub was:
[code]

I think I'll start with getting it to build locally first and updating singularity file to align with orca dockerfile.

[2018-07-06 01:27] sjackman opened #58 "Add missing brewsci/bio formulae to ORCA"
1. abricate
2. bali-phy
3. bandage
4. berokka
5. bonsai
6. cannoli
7. circos
8. consel
9. elph
10. ema
11. emboss
12. exabayes
13. fastp
14. finch-rs
15. flye
16. genome-painter
17. gfalint
18. k8
19. kent-tools
20. kma
21. lastz
22. magic-blast
23. mosdepth
24. mp-est
25. mpboot
26. nextflow
27. orfm
28. phyx
29. porechop
30. portcullis
31. prank
32. quickmerge
33. quicktree
34. r8s
35. rapidnj
3

[2018-07-06 20:15] suujia commented on #58
Added the files in this commit: https://github.com/bcgsc/orca/commit/fc2c0150754af8143a14fad7f542bc93b18efc8c

[2018-07-06 20:34] #58 closed

[2018-07-06 20:40] sjackman commented on #58
Thanks, Susie!

[2018-07-06 20:55] suujia commented on #57
I was able to use overlay to install nano and it's only available within this overlay.
[code]
However, when installing anything with brew inside:

[code]

[2018-07-06 21:19] sjackman commented on #57
Excellent! That's good progress. The goal with using Singularity is that it shouldn't require root access for the user to run the image. It does I believe require root access to build the original Singularity image, but hopefully not for the user. Can you it without `sudo`?

[2018-07-07 01:16] sjackman opened #60 "htseq: error: too many arguments to function"
[code]
https://hub.docker.com/r/bcgsc/orca-1/builds/brdtjmj5vdtd9ifucknylnu/

@suujia Can you see if you can find any reference to this error on the upstream GitHub repo?
https://github.com/simon-anders/htseq

[2018-07-07 01:17] sjackman commented on #56
I've opened a new issue for `htseq`: https://github.com/bcgsc/orca/issues/60

[2018-07-07 01:17] sjackman commented on #60
This may be caused by the upgrade from Python 3.6 to Python 3.7.

[2018-07-07 04:03] sjackman commented on #60
I've removed `htseq` with PR https://github.com/bcgsc/orca/pull/61. Still be worth looking into the build failure, but not a priority.

[2018-07-07 06:45] sjackman commented on #60
`pip3 install biopython` is failing as well, and we can't remove `biopython` from ORCA.
https://hub.docker.com/r/bcgsc/orca-1/builds/bwhqkj3gdt2w8rwhrmmbhug/

Could you please look into this build failure?

[2018-07-09 18:46] suujia commented on #56
I did another build on quay with one full dockerfile after commenting out htseq (failed on jdk):
[code]

[2018-07-09 19:12] suujia commented on #60
a potential alternative:
[code]

[2018-07-09 23:12] suujia commented on #60
Oh so the brew formula for python changed 9 days ago to version 3.70
Here's a couple issues associating Biopython with python 3.70: https://github.com/pypa/pip/issues/5250

Regarding this error message: `Cache entry deserialization failed, entry ignored`   (found in https://github.com/pypa/pip/issues/5250)
[code]

[2018-07-10 00:01] sjackman commented on #56
Quay.io Support reports that they have a 40 GB disk space limit. It looks as though we're exceeding that limit. Could you please post the URL to the build log with the above error?

[2018-07-10 18:01] suujia commented on #56
https://quay.io/repository/suujia/orca/build/de86e6d0-95fe-47ed-b985-08347f20ab0a

This is the build log for the one big Orca Dockerfile that failed wit no space left on device, on jdk.

[2018-07-10 18:48] sjackman commented on #56
That's cool!

[2018-07-10 23:38] suujia commented on #56
Yeah, its failing quite early on: [here](https://quay.io/repository/suujia/orca/build/bf67bccd-c0bb-4089-863a-32dd08bf28b1)
[code]

http://blog.devtable.com/
[code]

[2018-07-11 00:06] sjackman commented on #56
More specific link at http://blog.devtable.com/2014/04/do-you-want-to-build-image.html

Ugh. That's not very helpful. You can put each `brew install command` on its own line. So change
[code]
to
[code]
You'll probably exceed the Docker limit of 255 layers in the image though. Could still be a good experiment to try. We can put Quay.io onto the back burner for now though.

[2018-07-11 16:02] suujia commented on #56
Ok I am rebuilding a big chunk of it here:
https://quay.io/repository/suujia/orca/build/26529046-32de-4840-b88e-9e41261a2482

[2018-07-11 19:37] suujia commented on #57
[code]
Yes, after running this command, in directory where I don't have sudo access on the outside, I was able to `brew install __ ` things into the overlay image. This was with a small orca.simg I built. I am still debugging to build the whole orca singularity image.
After it's built, I can start writing a script that creates an account with the individual user, most importantly: `singularity ima

[2018-07-11 21:19] sjackman commented on #57
Excellent progress! Thanks, Susie.

I'd suggest storing the overlay at `$HOME/.orca/overlay.simg`

[2018-07-11 22:00] sjackman commented on #56
I've confirmed with Quay.io support that the time limit is twenty minutes per command, and there's no way of increasing the timeout.

[2018-07-11 22:02] sjackman commented on #56
Quay.io has a really helpful direct chat support team. Go to https://quay.io and click on `How can we help you?` in the bottom right corner. You can ask them about the `Cannot write: No space left on device` error message. My understanding is that the disk limit is 40 GB, which should be plenty. Point them to the failed build log.

[2018-07-11 22:03] sjackman commented on #56
Rather than one formula per `RUN` line, I'd suggest grouping them into batches of ~20 minutes each, so perhaps 10 or so formulae per batch. Best practices with Docker are to keep to a minimum the number of layers in the image (each `RUN` command creates one layer).

[2018-07-11 23:08] suujia commented on #56
Quays suppoer
[code]

Hmm, these CI tools have even lower memory or timeout I believe (circle CI 4gb). I'm rebuilding the image on Quay with half the number of tools just to test:
https://quay.io/repository/suujia/orca/build/0e17bba1-c541-4953-9491-067c6b50b200

[2018-07-11 23:16] sjackman commented on #56
Cool. Thanks for confirming. If you removed just the largest packages, you may be able to fit a reduces version of the ORCA image in 10 GB.

Here's the largest packages:

[code]

[2018-07-11 23:18] sjackman commented on #56
It looks as though Quay.io is not an ideal replacement for Docker Hub due to these resource limits: 20 minutes per command, 10 GB disk. We can put this issue to rest I think. Thanks for your work on it!

[2018-07-11 23:18] #56 closed

[2018-07-11 23:18] suujia commented on #56
Ok sounds good! 👍

[2018-07-11 23:29] suujia commented on #57
Brew can't be run as sudo (due to error above) which is why it's ran as linuxbrew user:
[code]

I have added `chown -R linuxbrew: /home/linuxbrew `  (I can change it later to add .linuxbrew), and it is rebuilding to same link. It is still building currently. I was running into the problem of individual sub directories requiring a chmod earlier. If it doesn't pass I will try with a chmod.

[2018-07-11 23:32] sjackman commented on #57
Ah, got it. Can the whole script be run as the Linuxbrew user rather than `root`? Or separate it into two parts, the `root` part and then then `linuxbrew` part, and switch users between those two parts. See here for an example in a Dockerfile. I'm not sure how this works in Singularity.

https://github.com/Linuxbrew/brew/blob/master/Dockerfile#L18

[2018-07-11 23:44] suujia commented on #57
Yes, do linuxbrew user things in `su -c '__' linuxbrew` and just run the root commands outside with no wrappers. We are already doing that in this our Singularity file, with the brew commands run as linuxbrew user and everything else without it. Which other commands did you want to run under sudo?

This is a really good example: [UofU bioBakery](https://github.com/CHPC-UofU/Singularity-bioBakery/b

[2018-07-12 16:50] sjackman commented on #57
Excellent find with the bioBakery Singularity file! That's a very useful resource.

`su -c '…' linuxbrew` is fine. I misunderstood what was going on.

Putting the option at the end may be more readable.
[code]

[2018-07-13 19:35] suujia commented on #60
This issue from pip3 install seem to be fixed from below two lines:
[code]

[here](https://github.com/facebook/prophet/issues/140)
[code]
[here](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3884)
[and here](https://github.com/facebook/prophet/issues/418)
[code]

[2018-07-17 23:02] suujia commented on #60
`pip3 install --upgrade setuptools` fixes:
[code]

[2018-07-18 23:56] suujia commented on #57
### Bind Mounts:
Map directories on host system to directories within container (read/write data on host system). The following should be added to config file of singularity:
[code]
====================
`pip3 install ruamel.yaml` fixes:
[code]
 `cwlref-runner \` [here](https://pypi.org/project/cwltool/)
[code]
and

[code]

[2018-07-19 21:48] suujia opened #62 "SLURM job scheduler"
The most commonly used job scheduler with Singularity or bioinformatics analysis jobs is Slurm. Here are its benefits:
 - load balancing between multiple nodes
 - limiting ram/process job size
 - limiting job time

#### Implementation
[code]

#### Corresponding MPI Script in Slurm
[code]

run with
[code]

[2018-07-27 17:30] suujia commented on #57
`$PREFIX/etc/ singularity/singularity.conf.`(owned by root) should have following configurations set up. These configurations should be set up to control all the users using singularity command. However, these configs do not apply for root.

[code]

[2018-07-30 16:49] suujia commented on #57
### Documentation
I will be updating [singularity_manual](https://github.com/bcgsc/orca/blob/master/docs/singularity_manual.md) with proper instructions.
[code]

[2018-07-31 22:04] suujia commented on #62
[Slurm Singularity Plugin](https://slurm.schedmd.com/spank.html)
[code]

### Using the plugin
[code]
`rsync` - copy/sync
`spank plugin` - Configured in the spank plugstack using sg_spank.conf
`SWRepo` - server node repo for Singularity container images

<img width="1029" alt="screen shot 2018-07-31 at 3 00 07 pm" src="https://user-images.githubusercontent.com/22860428/43489617-73bb8d88-94d2-11e8-9

[2018-08-02 00:30] suujia commented on #57
### Workflow
[code]

[2018-08-02 19:40] suujia opened #63 "Broken Tools"
- [ ] abricate
`XS.c: loadable library and perl binaries are mismatched (got handshake key 0xde00080, needed 0xce00080)
The post-install step did not complete successfully`

- [ ] atram
`contains conflicting version recursive dependencies: isl, isl@0.18, gcc@6, gcc (error: fails on linuxbrew/linuxbrew image as well as dockerhub)
`
- [ ] bandage
`dependency on pulseaudio, which is broken shown in

[2018-08-07 21:17] sjackman commented on #60
Nice find!

[2018-08-07 21:46] sjackman commented on #63
[code]

@tseemann Does the `abricate` bottle need to be updated?

[2018-08-07 21:58] sjackman commented on #63
We can drop `atram` from ORCA.

I'd prefer to keep `bandage` in ORCA if possible, but we can drop it if necessary.

The `phylip` and `exabayes` conflict is unfortunate. I've opened an issue upstream at https://github.com/aberer/exabayes/issues/7

`express` is in the legacy repo Brewsci/science. I'm okay with removing it from ORCA.

`trinity` is also in the legacy repo Brewsci/science. We can drop

[2018-08-07 22:04] suujia commented on #60
Hi Just to clarify, htseq is removed currently. We have python3.7 however, it says that htseq is only tested up to python3.6. However I have tested `pip2 install htseq` and it works perfectly. Would that be a good enough alternative?
https://github.com/simon-anders/htseq/issues/60

[2018-08-07 22:07] sjackman commented on #60
I prefer `pip3 install htseq` if it works, otherwise `pip2 install htseq` is fine.

[2018-08-07 22:08] sjackman commented on #60
simon-anders/htseq#60 indicates Python 3.5 does not work, Python 3.6 does work, but doesn't mention Python 3.7.

[2018-08-07 23:49] suujia commented on #63
#### Python3.6 dependency (we have python3.7)

`1. Missing libraries:  libpython3.6m.so.1.0`
- [ ] brew linkage --test anvio
- [ ] brew linkage --test circlator
- [ ] brew linkage --test cutadapt
- [ ] brew linkage --test iva
- [ ] brew linkage --test kat
- [ ] brew linkage --test matplotlib
- [ ] brew linkage --test portcullis
- [ ] brew linkage --test tigmint

#### Other linkage fails
`2. Unwant

[2018-08-08 00:54] tseemann commented on #63
@sjackman I'm guessing anything related to perl XS (compiled C bits) would have broken during the move to Perl 5.26 ?

[2018-08-08 01:36] sjackman commented on #63
I believe you mean the move to Perl 5.28, and yes, that appears to be the case. Rebuilding the bottles by bumping the revision should solve the issue.

[2018-08-08 01:38] sjackman commented on #63
@suujia The same issue seems to affect the Python 3.6 to 3.7 migration. Could you please open a PR to bump the revision of each formula that has the `Missing libraries: libpython3.6m.so.1.0` issue?

[2018-08-08 21:56] suujia commented on #63
#### Fixing libpython3.6m.so.1.0 dependencies
Fixes: `Missing libraries: libpython3.6m.so.1.0`

##### Anvio
Anvio seems to be hosted [here](https://github.com/brewsci/homebrew-science/blob/master/Formula/anvio.rb), and was last maintained in July. Should we just use their formula instead of the homebrew/science formula?

##### circlator
-migrate from science https://github.com/brewsci/homebrew-bio

[2018-08-09 00:25] sjackman commented on #63
**anvio**: Let's either migrate the formula to Brewsci/bio or remove it from ORCA.

`Warning: Bottle installation failed: building from source.` Odd. Do you see that error locally? Is it `matplotlib` or `kat` giving that error?

[2018-08-09 00:32] sjackman commented on #63
**tigmint** Reinstalling from source should resolve this issue.

[2018-08-10 23:15] suujia commented on #57
Here's the progress so far for singularityhub. This build has around 300 tools, takes a long time to build but I'm still slowly adding tools to it. I removed the biggest tools to speed up the builds and will add it back later, as well as simplify and clean it up. (Also I will change linuxbrew/.linuxbrew writable actually)
https://www.singularity-hub.org/containers/3905

Just need to run
1. singula

[2018-08-14 23:35] suujia commented on #62
[code]

I believe slurm is still worth looking into if you are hoping for any load balancing due to high volume of jobs. There are some resources saying you can launch an interactive job. Singularity also has a built in SPANK plugin that can run slurm jobs inside of singularity containers.

Not sure how long the average job is for ORCA users but this is an option! This also allows users to be able

[2018-08-17 21:02] suujia commented on #63
**anvio** I'm migrating this as well, updating all the downloads in this file. But the error message I get is:  I've done depends_on "hdf5" then a resource download on h5py.
[code]
**mysql**
I received the same error on orca image with brew test. Reinstalled dependency openssl, then reinstalling mysql didn't work. Although a fresh install of mysql in linuxbrew/linuxbrew image connects perfectly. T

[2018-08-17 21:29] sjackman commented on #63
We can drop `anvio` if necessary. Both `mysql` and `busco` are pretty critical. Focus your efforts on those.

[2018-08-21 20:30] suujia commented on #63
**beast**
https://francoismichonneau.net/2014/05/how-to-install-beagle-on-ubuntu/
[code]
but I cant seem to find `-Djava.library.path` or `BEAST_LIB`

**nlopt**
[code]

[2018-08-21 23:41] sjackman commented on #63
I fixed the `brew test nlopt` issue with PR https://github.com/Linuxbrew/homebrew-core/pull/8979

[2018-08-21 23:48] sjackman commented on #63
To fix `beast`, try adding…
[code]

[2018-08-23 21:12] suujia commented on #63
Regarding the linkage failures:

#### emacs
Unwanted system libraries: libanl.so.1
https://github.com/brewsci/homebrew-bio/pull/211
From this issue it looks like its an zlib problem , I added it as a dependency

#### magic-blast  &  tbl2asn
https://github.com/brewsci/homebrew-science/blob/275f69160a5a41a6ae0c517f2f47af91f57b5990/tbl2asn.rb
https://github.com/brewsci/homebrew-bio/blob/3e1a326353e8e

[2018-08-23 22:31] sjackman commented on #63
[code]
`libidn` bumped their SONAME (shared object library version) from 11 to 12.

Normally rebuilding the bottle (recompiling these from source) would fix this problem. Both of these tools however use binary upstream packages, meaning they're not built from source.

Since the system provides these libraries, it will work, so for now for ORCA, I suggest we ignore these two warnings by adding them

[2018-08-23 22:34] sjackman commented on #63
[code]
`brew test swi-prolog` succeeds, so let's add `swi-prolog` to the list of ignored errors.

[2018-08-23 22:35] sjackman commented on #63
I've merged PR https://github.com/Linuxbrew/brew/pull/824, which should fix `emacs` (after `brew update`).

[2018-08-31 04:40] suujia commented on #63
[The latest docker build: ](https://hub.docker.com/r/bcgsc/orca/builds/bc3ho4gpkxfcowekh3nwtr4/)
#### 1. brew linkage --test dextractor
   Missing libraries: libhdf5.so.101
brew test dextractor <1> expected but was<127>.
#### brew linkage --test phyx
Unwanted system libraries: libmvec.so.1

#### 2. brew test isl@0.18
test.c:1:21: fatal error: isl/ctx.h: No such file or directory compilation termin

[2018-08-31 06:47] sjackman commented on #63
- `dextractor`: remove it
- `phyx`: that's a bug in Linuxbrew/brew. You can add `phyx` to the list of `brew linkage` errors to ignore in `docker.test.yml`
- `isl@0.18`: I've opened PR https://github.com/Linuxbrew/homebrew-core/pull/9169 to fix this issue
- `meme`: I've opened PR https://github.com/brewsci/homebrew-bio/pull/407 to bump the revision
- `ropebwt2`: remove it
- `ruby`: add `ruby` to th

[2018-09-01 00:14] suujia commented on #57
### Final Update

Brendan fixed some of the permissions and we ended up getting singularity fully on the orca servers fully. It is on permissions 777 because the shub was installing as linuxbrew user and not linuxbrew group. And we can use sudo commands at all for singularity therefore we can't change the identity of user to linuxbrew user to perform the brew install (and we removed the sudo brew

[2018-09-04 18:13] sjackman commented on #57
Excellent. Thanks, Susie!

The current build on Singularity Hub says that it has been running since Tue Aug 28 (one full week). So I'm guessing that something is not quite right there. I'd prefer to build the image on Singularity Hub (or a hosted service), but if that's not possible, we can build it locally and upload the image.
See https://www.singularity-hub.org/collections/1223

[2019-05-10 21:40] sjackman opened #94 "Address failed tests"
+ [x] `abyss-explorer`: fix `test do` block in formula (https://github.com/brewsci/homebrew-bio/pull/620)
+ [x] `bioperl`: bump revision and rebuild bottle for `perl` (https://github.com/brewsci/homebrew-bio/pull/621)
+ [x] `boost`: fix `test do` block in formula to remove `-stdlib=libc++` on Linux (https://github.com/Homebrew/linuxbrew-core/pull/13008)
+ [x] `emboss`: skip `brew linkage --test`
+

[2019-05-10 21:40] sjackman commented on #94
[code]

[2019-05-10 21:40] sjackman commented on #94
[code]

[2019-05-10 21:41] sjackman commented on #94
[code]

[2019-05-10 21:41] sjackman commented on #94
[code]

[2019-05-10 21:41] sjackman commented on #94
[code]

[2019-05-10 21:41] sjackman commented on #94
[code]

[2019-05-10 21:42] sjackman commented on #94
[code]

[2019-05-10 21:42] sjackman commented on #94
[code]

[2019-05-10 21:42] sjackman commented on #94
[code]

[2019-05-10 21:42] sjackman commented on #94
[code]

[2019-05-10 21:43] sjackman commented on #94
[code]

[2019-05-10 21:43] sjackman commented on #94
[code]

[2019-05-10 21:43] sjackman commented on #94
[code]

[2019-05-10 21:43] sjackman commented on #94
[code]

[2019-05-10 21:43] sjackman commented on #94
[code]

[2019-05-10 21:44] sjackman commented on #94
[code]

[2019-05-10 21:44] sjackman commented on #94
[code]

[2019-05-10 21:44] sjackman commented on #94
[code]

[2019-05-10 21:44] sjackman commented on #94
[code]

[2019-05-10 21:51] sjackman commented on #94
Skip the `brew linkage --test` failures for
- emboss
- openjdk
- protobuf

Bump the revision and rebuild the bottle because of `boost`:
- mothur
- squeakr
- xssp

[2019-05-10 21:53] lcoombe commented on #94
For the bumping revisions -- just to ensure I understand properly -- This is just changing the revision in the formula, and doing the pull-request/publish bottle process again to rebuild the bottle with a newer boost version??

[2019-05-10 21:53] sjackman commented on #94
Yes, that's right.

[2019-05-10 21:58] sjackman commented on #94
In the latest `bcgsc/orca-6` Docker image, for each of the `brew test …` failures, run the `brew test` yourself interactively, and if it passes (fails to replicate the test failure), and it to the list of ignored test failures.

[2019-05-10 22:07] lcoombe commented on #94
Ok so all but `wiggletools` failed `brew test`

[2019-05-10 22:11] sjackman commented on #94
# mrbayes

[code]

So this bottle is using the AVX instruction `vmovsd`. It's not supposed, but it can be hard to prevent. I suggest ignoring this test failure.

[2019-05-10 22:19] lcoombe commented on #94
**Nanopolish**
Looks like the second test fails:
[code]

[2019-05-12 16:09] stefcamp opened #95 "Problems in including new bottles"
I successfully installed orca container, however some software are not updated (e.g. flye) and when I try to update them, it looks like the last available release is already present. I would like for example to use a more recent version of "flye" software and I understood I have to use bottles. I found that there is a bottle in linuxbrew for the latest version of the software I am interested in (f

[2019-05-13 19:52] sjackman commented on #95
Hi, Stefano. The formulae in ORCA are installed from https://github.com/brewsci/homebrew-bio/tree/master/Formula. Check to see whether the most up-to-date version is present there. You can also check at the web interface https://repology.org/repository/homebrew_tap_brewsci_bio

If the most recent version is found there, run…
[code]

Yes, you can open an issue here. The current version of every for

[2019-05-13 19:52] #95 closed

[2019-05-14 19:29] sjackman commented on #94
@lcoombe Please update `abricate` to version 0.8.13. That should hopefully resolve the `brew postinstall abricate` issue.

[2019-05-14 20:17] lcoombe commented on #94
For sure! I'll get on that update now.

[2019-05-14 23:41] sjackman commented on #94
These sixteen issues have been addressed! Thank you, Lauren!

[2019-05-14 23:41] #94 closed

[2019-08-23 21:23] dmohadjel opened #100 "Addressing new failed tests"
- [x] `adoptopenjdk`: skip `brew linkage --test`
- [x] `fastqc`: install `libfontconfig1` package
- [x] `gmap-gsnap`: installing from source
- [x] `meme`: installing from source
- [x] `mysql@5.7`: skip `brew test`
- [x] `nextgenmap`: installing from source
- [x] `nxrepair`: removing from build
- [x] `repeatmasker`: installing from source
- [x] `squeakr`: upgrade to latest version (https://github.c

[2019-08-23 21:27] lcoombe commented on #100
I wouldn't be surprised if the failures of swig and links-scaffolder are related. links-scaffolder (LINKS) uses swig to build its Bloom filter module.

[2019-08-23 21:28] dmohadjel commented on #100
[code]

[2019-08-23 21:29] dmohadjel commented on #100
[code]

[2019-08-23 21:30] dmohadjel commented on #100
[code]

[2019-08-23 21:30] dmohadjel commented on #100
[code]

[2019-08-23 21:31] dmohadjel commented on #100
[code]

[2019-08-23 21:32] dmohadjel commented on #100
[code]

[2019-08-23 21:32] dmohadjel commented on #100
[code]

[2019-08-23 21:33] dmohadjel commented on #100
[code]

[2019-08-23 21:33] dmohadjel commented on #100
[code]

[2019-08-23 21:34] dmohadjel commented on #100
[code]

[code]

[2019-08-23 21:34] dmohadjel commented on #100
[code]

[2019-08-23 21:35] dmohadjel commented on #100
[code]

[code]

[2019-08-30 21:40] #100 closed